# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
project/MediaPlayer.vcxproj.user
project/.vs/MediaPlayer/v16/.suo
project/.vs/MediaPlayer/v16/Browse.VC.db
project/.vs/MediaPlayer/v16/Solution.VC.db
project/.vs/MediaPlayer/v16/ipch/AutoPCH/9eb2941486d74db2/MEDIAPLAYERDLG.ipch
project/.vs/MediaPlayer/v16/ipch/AutoPCH/edc0b13e50122613/MEDIAPLAYERDLG.ipch
project/.vs/MediaPlayer/v16/ipch/AutoPCH/fce56576593e1aae/MEDIAPLAYERIMPL.ipch
project/obj/Win32/Debug/MediaPlayer.exe.recipe
project/obj/Win32/Debug/MediaPlayer.log
project/obj/Win32/Debug/MediaPlayer.res
project/obj/Win32/Debug/MediaPlayer.tlog/CL.command.1.tlog
project/obj/Win32/Debug/MediaPlayer.tlog/CL.read.1.tlog
project/obj/Win32/Debug/MediaPlayer.tlog/CL.write.1.tlog
project/obj/Win32/Debug/MediaPlayer.tlog/link.command.1.tlog
project/obj/Win32/Debug/MediaPlayer.tlog/link.read.1.tlog
project/obj/Win32/Debug/MediaPlayer.tlog/link.write.1.tlog
project/obj/Win32/Debug/MediaPlayer.tlog/MediaPlayer.lastbuildstate
project/obj/Win32/Debug/MediaPlayer.tlog/rc.command.1.tlog
project/obj/Win32/Debug/MediaPlayer.tlog/rc.read.1.tlog
project/obj/Win32/Debug/MediaPlayer.tlog/rc.write.1.tlog
project/obj/x64/Debug/MediaPlayer.exe.recipe
project/obj/x64/Debug/MediaPlayer.log
project/obj/x64/Debug/MediaPlayer.res
project/obj/x64/Debug/MediaPlayer.tlog/CL.command.1.tlog
project/obj/x64/Debug/MediaPlayer.tlog/CL.read.1.tlog
project/obj/x64/Debug/MediaPlayer.tlog/CL.write.1.tlog
project/obj/x64/Debug/MediaPlayer.tlog/link.command.1.tlog
project/obj/x64/Debug/MediaPlayer.tlog/link.read.1.tlog
project/obj/x64/Debug/MediaPlayer.tlog/link.write.1.tlog
project/obj/x64/Debug/MediaPlayer.tlog/MediaPlayer.lastbuildstate
project/obj/x64/Debug/MediaPlayer.tlog/rc.command.1.tlog
project/obj/x64/Debug/MediaPlayer.tlog/rc.read.1.tlog
project/obj/x64/Debug/MediaPlayer.tlog/rc.write.1.tlog
project/.vs/MediaPlayer/v16/Browse.VC.db-shm
project/.vs/MediaPlayer/v16/Browse.VC.db-wal
project/.vs/MediaPlayer/v16/Browse.VC.opendb
project/.vs/MediaPlayer/v16/Solution.VC.db-shm
project/.vs/MediaPlayer/v16/Solution.VC.db-wal
